{% extends'base-said.html.twig' %}
{% block boxheader %}
    <div class="box-header">
        <h3 class="box-title">Profil Médicale</h3>
    </div>
{% endblock %}
{% block formulaire %}
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Modifier Profil Médicale</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        {{ form_start(Form,{'attr': {'novalidate':'novalidate'}}) }}
        {% if Form.vars.value.enfant is not null %}
           <h4 class="box-title">
               {{ "Nom et prenom: " }}
               {{ Form.vars.value.enfant.nom|upper }}
               {{ Form.vars.value.enfant.prenom|upper }}
           </h4>
        {% endif %}




        {{ form_end(Form) }}

    </div>
    <!-- /.box -->
{% endblock %}
