{% extends'base-said.html.twig' %}
{% block navigation %}
    <a href="#">
        <i class="fa fa-dashboard"></i> <span>Profil medicale</span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li class="active"><a href="{{ path('show_front') }}"><i class="fa fa-circle-o"></i> Show Profil medicale</a></li>

    </ul>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-files-o"></i>
            <span>CLUB</span>
            <span class="pull-right-container">
                        <span class="label label-primary pull-right">3</span>
            </span>
        </a>




        <ul class="treeview-menu">
            <li><a href="{{ path('club_user') }}"><i class="fa fa-circle-o"></i> Consulter les Club </a></li>
            <li><a href="{{ path('club_subscription') }}"><i class="fa fa-circle-o"></i> S'incrire</a></li>
            <li><a href="{{ path('user_club') }}"><i class="fa fa-circle-o"></i> Consulter mes Club</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>Participant</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="{{ path('participant_AfficheE')}}"><i class="fa fa-circle-o"></i> Afficher</a></li>
            <li><a href="{{ path('participant_RechercheE')}}"><i class="fa fa-circle-o"></i> Recherche</a></li>
            <li><a href="{{ path('participant_Mail')}}"><i class="fa fa-circle-o"></i> Mail</a></li>

        </ul>
    </li>
{% endblock %}
{% block headerTitle %}
    <section class="content-header">
        <h1>
            Profile Médicale
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Afficher</li>
        </ol>
    </section>
{% endblock %}
{% block boxheader %}
    <div class="box-header">
        <h3 class="box-title">Profile Médicale</h3>
    </div>
{% endblock %}
{% block dataTable %}
    {%  for enfant in enfant %}
        {% if enfant.profilmedicale is not null  %}
<div class="small-box bg-aqua">
    <div class="inner">
        <h3>{{ enfant.nom ~ " " ~ enfant.prenom }}</h3>

        <p></p>
    </div>
    <div class="icon">
        <i class="ion ion-person-add"></i>
    </div>
    <a href={{ path('show_detail',{'id': enfant.id }) }} class="small-box-footer">
        Voir detail <i class="fa fa-arrow-circle-right"></i>
    </a>

</div>
        {% endif %}
    {% endfor %}
{% endblock %}