{% extends'base-said.html.twig' %}
{% block headerTitle %}
    <section class="content-header">
        <h1>
            Profile Médicale
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Afficher</li>
        </ol>
    </section>
{% endblock %}
{% block boxheader %}
    <div class="box-header">
        <h3 class="box-title">Profile Médicale</h3>
    </div>
{% endblock %}
{% block dataTable %}
    <thead>
    <tr>
        <th>ID Profil</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Age</th>
        <th>Taile(cm)</th>
        <th>Poids(kg)</th>
        <th>Maladie</th>
        <th>IMC</th>
        <th>Etat</th>
        <th>Pédiatre</th>
        <td>Supprimer</td>
        <td>Edit</td>
    </tr>
    </thead>
    <tbody>
    {%  for profilmedicale in profilmedicale %}
        <tr>
            <td>{{ profilmedicale.id }}</td>
            <td>{{ profilmedicale.enfant.nom }}</td>
            <td>{{ profilmedicale.enfant.prenom }}</td>
            <td>{{ profilmedicale.enfant.getAge() }}</td>
            <td>{{ profilmedicale.taille }}</td>
            <td>{{ profilmedicale.poids }}</td>
            <td>{% if profilmedicale.maladie is not null %}
                    {{ profilmedicale.maladie }}
                {% else %}
                    {{ "pas d'anomalie " }}
                {% endif %}
               </td>
            <td>
                {{(profilmedicale.poids/((profilmedicale.taille*0.01)*(profilmedicale.taille*0.01) ))|round(2,'floor') }}
        {% set imc= (profilmedicale.poids/((profilmedicale.taille*0.01)*(profilmedicale.taille*0.01) ))|round(2,'floor')  %}
                    {% if imc<=18.5 %}
                        {{ " Insuffisance ponderale " }}
                    {% elseif (imc>18.5 and imc <= 25 )%}
                        {{ " Corpulence Normale " }}
                    {% elseif (imc>25 and imc <= 30 )%}
                        {{ " Surpoids " }}
                    {% elseif (imc>30 and imc <= 35 )%}
                        {{ " Obésité modérée " }}
                    {% elseif (imc>35 and imc <= 40 )%}
                        {{ " Obésité sévère " }}
                    {% elseif (imc>40 )%}
                        {{ " Obésité morbide ou massive " }}
                    {% endif %}

            </td>
            <td>{{ profilmedicale.etat }}</td>
            <td> {% if profilmedicale.idpediatre is not null %}
            {{ "Dr "~ profilmedicale.idpediatre.nom ~" "~ profilmedicale.idpediatre.prenom }}
            {% else %}
                {{ "N/A" }}
            {% endif %}
            </td>
            <td><a href="{{ path('delete_profil',{'qdt': profilmedicale.id }) }}" >Supprimer</a></td>
            <td><a href="{{ path('profil_edit',{'id': profilmedicale.id }) }}" >Edit</a></td>

        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th>ID Profil</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Age</th>
        <th>Taile(cm)</th>
        <th>Poids(kg)</th>
        <th>Maladie</th>
        <th>IMC</th>
        <th>Etat</th>
        <th>Pédiatre</th>
        <td>Supprimer</td>
        <td>Edit</td>
    </tr>
    </tfoot>
{% endblock %}
