{% extends'base-said.html.twig' %}
{% block headerTitle %}
    <section class="content-header">
        <h1>
            Activité
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Gestion Activité</li>
        </ol>
    </section>
{% endblock %}
{% block dataTable %}
    <thead>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Description</th>
        <th>Type</th>
        <td>Supprimer</td>
        <td>Edit</td>
    </tr>
    </thead>
    <tbody>
    {%  for activite in activite %}
        <tr>
            <td>{{ activite.idactivite }}</td>
            <td>{{ activite.nomactivite }}</td>
            <td>{{ activite.description }}</td>
            <td>{{ activite.type }}</td>

            <td><a href="{{ path('delete_activite',{'qdt': activite.idactivite }) }}" >Supprimer</a></td>
            <td><a href="{{ path('activite_edit',{'id': activite.idactivite }) }}" >Edit</a></td>

        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Description</th>
        <th>Type</th>
        <td>Supprimer</td>
        <td>Edit</td>
    </tr>
    </tfoot>
{% endblock %}
