{% extends'base-said.html.twig' %}
{% block headerTitle %}
    <section class="content-header">
        <h1>
            Liste des pédiatres
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Afficher</li>
        </ol>
    </section>
{% endblock %}
{% block boxheader %}
    <div class="box-header">
        <h3 class="box-title">Pédiatre</h3>
    </div>
{% endblock %}
{% block dataTable %}
    <thead>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Email</th>
        <th>Telephone</th>
        <th>Adresse</th>
        <td>Supprimer</td>
        <td>Edit</td>
    </tr>
    </thead>
    <tbody>
    {%  for pediatre in pediatre %}
        <tr>
            <td>{{ pediatre.id }}</td>
            <td>{{ pediatre.nom }}</td>
            <td>{{ pediatre.prenom }}</td>
            <td>{{ pediatre.Email }}</td>
            <td>{{ pediatre.telephone }}</td>
            <td>{{ pediatre.adresse }}</td>
            <td><a href="{{ path('delete_pediatre',{'qdt': pediatre.id }) }}" >Supprimer</a></td>
            <td><a href="{{ path('pediatre_edit',{'id': pediatre.id }) }}" >Edit</a></td>

        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Email</th>
        <th>Telephone</th>
        <th>Adresse</th>
        <td>Supprimer</td>
        <td>Edit</td>
    </tr>
    </tfoot>
{% endblock %}
